{% extends "base.html" %}
{% load humanize %}
{% load accounts %}
{% load static %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/check_messages.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sort_table.js' %}"></script>
{% endblock %}

{% block content %}

<h2>Private messages</h2>

{% if messages %}

    <table id="CheckMessagesTable" class="SortTable">
        <thead>
            <tr>
                <th class="SortTable-sortable">from</th>
                <th class="SortTable-sortable">title</th>
                <th class="SortTable-sortable">date</th>
            </tr>
        </thead>

        <tbody>
        {% for message in messages %}
            <tr class="clickableRow contentPreview" data-url="{{ message.get_url }}" data-content="{{ message.content|linebreaksbr|truncatewords:50 }}">
                <td data-value="{{ message.sender }}">
                    {% if not message.has_been_read %}
                        <span class="red" title="Unread message!">!</span>
                    {% endif %}

                    {{ message.sender|account_name }}
                </td>
                <td data-value="{{ message.title|truncatewords:25 }}">{{ message.title|truncatewords:25 }}</td>
                <td data-value="{{ message.date_created }}">{{ message.date_created|naturaltime }}</td>
                <td><a href="{% url 'accounts:message_remove_confirm' message.id %}" title="Remove Message">X</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>No messages.</p>
{% endif %}

{% endblock %}