{% extends "base.html" %}
{% load humanize %}
{% load accounts %}

{% block scripts %}
    {% load static %}

    <script type="text/javascript" src="{% static 'accounts/check_messages.js' %}"></script>
    <script type="text/javascript" src="{% static 'accounts/tooltip.js' %}"></script>
{% endblock %}

{% block content %}

<h2>Private messages</h2>

{% if messages %}

    <table id="CheckMessagesTable">
        <tr>
            <th>from</th>
            <th>title</th>
            <th>date</th>
        </tr>
        {% for message in messages %}
            <tr class="clickableRow contentPreview" data-url="{{ message.get_url }}" data-content="{{ message.content|linebreaksbr|truncatewords:50 }}">
                <td>
                    {% if not message.has_been_read %}
                        <span class="red" title="Unread message!">!</span>
                    {% endif %}

                    {{ message.sender|account_name }}
                </td>
                <td>{{ message.title|truncatewords:25 }}</td>
                <td>{{ message.date_created|naturaltime }}</td>
                <td><a href="{% url 'accounts:message_remove_confirm' message.id %}" title="Remove Message">X</a></td>
            </tr>
        {% endfor %}
    </table>

{% else %}
    <p>No messages.</p>
{% endif %}

{% endblock %}