{% extends "base.html" %}
{% load humanize %}
{% load accounts %}
{% load steam_filters %}
{% load static %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/sort_table.js' %}"></script>
{% endblock %}

{% block content %}

    <p><img src="{{ steamInfo.avatarfull }}" /></p>
    <h2>
        <img src="{{ steamInfo.avatar }}" /> {{ pageUser|account_name|default_if_none:steamInfo.personaname }}

        {% if pageUser %}
        <ul class="horizontalList">
            {% if user.is_moderator or user.is_staff %}
            <li>
                <a href="{% url 'accounts:disable_confirm' pageUser.username %}">
                    {% if pageUser.is_active %}
                        disable
                    {% else %}
                        enable
                    {% endif %}
                </a>
            </li>
            {% endif %}

            {% if user.is_staff %}
            <li>
                <a href="{% url 'accounts:set_moderator_confirm' pageUser.username %}">
                    {% if pageUser.is_moderator %}
                        un-mod
                    {% else %}
                        mod
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:remove_confirm' pageUser.username %}">remove</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </h2>

    <p>Joined: {{ steamInfo.timecreated|convert_timestamp|default:"---" }}</p>
    <p>Last log off: {{ steamInfo.lastlogoff|convert_timestamp }}</p>

    {% if user.is_authenticated and pageUser %}
        <ul>
        {% if user.username == pageUser.username %}
            <li>
                <a href="{% url 'accounts:message_all' %}">See messages
                    {% if unreadMessages %}
                        (<em>{{ unreadMessages }}</em> unread)
                    {% endif %}
                </a>
            </li>
        {% else %}
            <li><a href="{% url 'accounts:message_send' steamId %}">Send private message</a></li>
        {% endif %}
        </ul>
    {% endif %}


    <ul class="horizontalList">
        <li {% if show_games_played %}class="entrySelected" {% endif %}>
            <a href="{% url 'accounts:user_page' steamId %}">games played recently</a>
        </li>
        <li {% if show_friends %}class="entrySelected" {% endif %}>
            <a href="{% url 'accounts:user_page_specify' steamId 'friends' %}">friends</a>
        </li>
        <li {% if show_games_owned %}class="entrySelected" {% endif %}>
            <a href="{% url 'accounts:user_page_specify' steamId 'games_owned' %}">games owned</a>
        </li>
    </ul>

    {% if show_friends %}
        {% if friends %}
            <table class="SortTable">
                <thead>
                    <tr>
                        <th class="SortTable-sortable">Name</th>
                        <th class="SortTable-sortable">Last Log Off</th>
                    </tr>
                </thead>

                <tbody>
                {% for friend in friends %}
                <tr>
                    <td data-value="{{ friend.personaname.strip }}"><img src="{{ friend.avatar }}" /> <a href="{% url 'accounts:user_page' friend.steamid %}">{{ friend.personaname }}</a></td>
                    <td data-value="{{ friend.lastlogoff }}">{{ friend.lastlogoff|convert_timestamp }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No friends yet.</p>
        {% endif %}

    {% elif show_games_played %}
        {% if games_played and games_played.total_count != 0 %}
            <table class="SortTable">
                <thead>
                    <tr>
                        <th class="SortTable-sortable">name</th>
                        <th class="SortTable-sortable">playtime last 2 weeks</th>
                        <th class="SortTable-sortable">playtime on record</th>
                        <th>logo</th>
                    </tr>
                </thead>

                <tbody>
                {% for game in games_played.games %}
                <tr>
                    <td data-value="{{ game.name.strip }}"><a href="{% url 'game' game.appid %}" target="_blank"><img src="{{ game.img_icon_url }}" title="{{ game.name }}" /></a> {{ game.name }}</td>
                    <td data-value="{{ game.playtime_2weeks }}">{{ game.playtime_2weeks|full_time }}</td>
                    <td data-value="{{ game.playtime_forever }}">{{ game.playtime_forever|full_time }}</td>
                    <td><img src="{{ game.img_logo_url }}" /></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No games played in the last 2 weeks.</p>
        {% endif %}

    {% elif show_games_owned %}
        {% if games_owned %}
            <p>Game count: {{ games_owned.game_count }}</p>

            <table class="SortTable">
                <thead>
                    <tr>
                        <th class="SortTable-sortable">name</th>
                        <th class="SortTable-sortable">playtime</th>
                    </tr>
                </thead>

                <tbody>
                {% for game in games_owned.games %}
                <tr>
                    <td data-value="{{ game.name.strip }}"><a href="{% url 'game' game.appid %}" target="_blank"><img src="{{ game.img_icon_url }}" title="{{ game.name }}" /></a> {{ game.name }}</td>
                    <td data-value="{{ game.playtime_forever }}">{{ game.playtime_forever|full_time }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No games owned yet.</p>
        {% endif %}
    {% endif %}

{% endblock %}