{% extends "base.html" %}
{% load humanize %}
{% load accounts %}
{% load steam_filters %}

{% block content %}

    <p><img src="{{ steamInfo.avatarfull }}" /></p>
    <img src="{{ steamInfo.avatar }}" /> name: <a href="{{ steamInfo.profileurl }}" target="_blank">{{ steamInfo.personaname }}</a>
    <h2>
        {{ pageUser|account_name }}

        <ul class="horizontalList">
            {% if user.is_moderator or user.is_staff %}
            <li>
                <a href="{% url 'accounts:disable_confirm' pageUser.username %}">
                    {% if pageUser.is_active %}
                        disable
                    {% else %}
                        enable
                    {% endif %}
                </a>
            </li>
            {% endif %}

            {% if user.is_staff %}
            <li>
                <a href="{% url 'accounts:set_moderator_confirm' pageUser.username %}">
                    {% if pageUser.is_moderator %}
                        un-mod
                    {% else %}
                        mod
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:remove_confirm' pageUser.username %}">remove</a>
            </li>
            {% endif %}
        </ul>
    </h2>

    <p>Joined: {{ pageUser.date_joined }} ({{ pageUser.date_joined|naturaltime }})</p>
    <p>Last log off: {{ steamInfo.lastlogoff|convert_timestamp }}</p>

    {% if user.is_authenticated %}
        <ul>
        {% if user.username == pageUser.username %}
            <li>
                <a href="{% url 'accounts:message_all' %}">See messages
                    {% if unreadMessages %}
                        (<em>{{ unreadMessages }}</em> unread)
                    {% endif %}
                </a>
            </li>
        {% else %}
            <li><a href="{% url 'accounts:message_send' pageUser.username %}">Send private message</a></li>
        {% endif %}
        </ul>
    {% endif %}


    <ul class="horizontalList">
        <li {% if show_games_played %}class="entrySelected" {% endif %}>
            <a href="{% url 'accounts:user_page' pageUser.steam_id %}">games played recently</a>
        </li>
        <li {% if show_friends %}class="entrySelected" {% endif %}>
            <a href="{% url 'accounts:user_page_specify' pageUser.steam_id 'friends' %}">friends</a>
        </li>
        <li {% if show_games_owned %}class="entrySelected" {% endif %}>
            <a href="{% url 'accounts:user_page_specify' pageUser.steam_id 'games_owned' %}">games owned</a>
        </li>
    </ul>

    {% if show_friends %}
        {% if friends %}
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                {% for friend in friends %}
                <tr>
                    <td>{{ friend.personaname }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No friends yet.</p>
        {% endif %}

    {% elif show_games_played %}
        {% if games_played %}
            <table>
                <tr>
                    <th>icon</th>
                    <th>name</th>
                    <th>playtime last 2 weeks</th>
                    <th>playtime on record</th>
                    <th>logo</th>
                </tr>
                {% for game in games_played.games %}
                <tr>
                    <td><a href="{% url 'game' game.appid %}" target="_blank"><img src="{{ game.img_icon_url }}" title="{{ game.name }}" /></a></td>
                    <td>{{ game.name }}</td>
                    <td>{{ game.playtime_2weeks|full_time }}</td>
                    <td>{{ game.playtime_forever|full_time }}</td>
                    <td><img src="{{ game.img_logo_url }}" /></td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No games played yet.</p>
        {% endif %}

    {% elif show_games_owned %}
        {% if games_owned %}
            <p>Game count: {{ games_owned.game_count }}</p>

            <table>
                <tr>
                    <th>icon</th>
                    <th>name</th>
                    <th>playtime</th>
                </tr>
                {% for game in games_owned.games %}
                <tr>
                    <td><a href="{% url 'game' game.appid %}" target="_blank"><img src="{{ game.img_icon_url }}" title="{{ game.name }}" /></a></td>
                    <td>{{ game.name }}</td>
                    <td>{{ game.playtime_forever|full_time }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No games owned yet.</p>
        {% endif %}
    {% endif %}

{% endblock %}