{% load static %}
{% load accounts %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Steam</title>

    {% block scripts %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

<div id="Menu">
    <ul class="horizontalList">
        <li><a href="{% url 'home' %}">home</a></li>
        <li><a href="{% url 'app_list' %}">app list</a></li>
        <li><a href="{% url 'find_by_id' %}">find by id</a></li>
        <li>
        {% if user.is_authenticated %}
            {{ user|account_name }} ( <a href="{% url 'accounts:logout' %}?next={{ request.get_full_path|urlencode }}">logout</a> )
        {% else %}
            <a href="{% url 'social:begin' 'steam' %}?next={{ request.get_full_path|urlencode }}"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_border.png" alt="login" title="login" /></a>
        {% endif %}
        </li>
    </ul>
</div>

{% if MESSAGE %}
    <p id="Message">{{ MESSAGE }}</p>
{% endif %}

{% block content %}{% endblock %}

<footer><a href="http://steampowered.com" target="_blank">Powered by Steam</a></footer>

</body>
</html>