{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Hi</title>

    {% block scripts %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

<div id="Menu">
    <a href="{% url 'home' %}">Home</a>

    {% if user.is_authenticated %}
        <a href="{% url 'accounts:user_page' user.steam_id %}">{{ user.username }}</a>
        <a href="{% url 'accounts:logout' %}?next={{ request.get_full_path|urlencode }}">logout</a>
    {% else %}
        <a href="{% url 'social:begin' 'steam' %}?next={{ request.get_full_path|urlencode }}"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_border.png" alt="login" title="login" /></a>
    {% endif %}

    <a href="{% url 'app_list' %}">app list</a>
</div>

{% if message %}
    <p id="Message">{{ message }}</p>
{% endif %}

{% block content %}{% endblock %}

<footer><a href="http://steampowered.com" target="_blank">Powered by Steam</a></footer>

</body>
</html>