{% extends "base.html" %}
{% load steam_filters %}
{% load static %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/sort_table.js' %}"></script>
{% endblock %}

{% block content %}

<ul class="horizontalList">
    <li {% if show_game_info %}class="entrySelected"{% endif %}>
        <a href="{% url 'game' appId %}">game info</a>
    </li>
    <li {% if show_stats %}class="entrySelected" {% endif %}>
        <a href="{% url 'game_specify' appId 'stats' %}">stats</a>
    </li>
    <li {% if show_global_achievements %}class="entrySelected"{% endif %}>
        <a href="{% url 'game_specify' appId 'global_achievements' %}">global achievements</a>
    </li>
    <li {% if show_news %}class="entrySelected" {% endif %}>
        <a href="{% url 'game_specify' appId 'news' %}">news</a>
    </li>
</ul>

{% if show_stats %}

    {% if stats %}
        <h2>Statistics</h2>

        {% if stats.stats %}
            <table class="SortTable">
                <thead>
                    <tr>
                        <th class="SortTable-sortable">name</th>
                        <th class="SortTable-sortable">value</th>
                    </tr>
                </thead>

                <tbody>
                {% for stat in stats.stats %}
                <tr>
                    <td data-value="{{ stat.name.strip }}">{{ stat.name }}</td>
                    <td data-value="{{ stat.value }}">{{ stat.value }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No stats yet.</p>
        {% endif %}

        <h2>Achievements</h2>

        {% if stats.achievements %}

            <h2>Achieved</h2>

            <table>
                <tr>
                    {% for achievement in stats.achievements %}
                        <td><img src="{{ achievement.icon }}" /> {{ achievement.displayName }}</td>

                        {% if forloop.counter|divisibleby:5 %}
                        </tr><tr>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>

        {% else %}
            <p>No achievements yet.</p>
        {% endif %}
    {% else %}
        <p>No statistics yet.</p>
    {% endif %}


{% elif show_game_info %}
    {% if game_info %}
        <h2><a href="{{ game_info.website }}">{{ game_info.name }}</a></h2>
        <img src="{{ game_info.header_image }}" />

        <p>{{ game_info.detailed_description|safe }}</p>

        <p>
            Price:
            {% if game_info.price_overview %}
                {{ game_info.price_overview.final }} {{ game_info.price_overview.currency }}
            {% else %}
                free-to-play
            {% endif %}
        </p>
        <p>
            Current players: {{ current_players }}
        </p>
        <p>
            Platforms:
            {% if game_info.platforms.windows %}windows{% endif %}
            {% if game_info.platforms.mac %}mac{% endif %}
            {% if game_info.platforms.linux %}linux{% endif %}
        </p>

        <h3>Release date</h3>
        <p>{{ game_info.release_date.date }}</p>

        <p><a href="{{ game_info.metacritic.url }}">Score: {{ game_info.metacritic.score }}</a></p>

        <h3>Categories</h3>
        <ul class="horizontalList">
        {% for category in game_info.categories %}
            <li>{{ category.description }}</li>
        {% endfor %}
        </ul>

        <h3>Genres</h3>
        <ul class="horizontalList">
        {% for genre in game_info.genres %}
            <li>{{ genre.description }}</li>
        {% endfor %}
        </ul>

        <h3>Screenshots</h3>
        <p>
        {% for screenshot in game_info.screenshots %}
            <img src="{{ screenshot.path_thumbnail }}" />
        {% endfor %}
        </p>

        <h3>Movies</h3>
        <p>
        {% for movie in game_info.movies %}
            <video width="300" height="300" controls="controls" poster="{{ movie.thumbnail }}">
                <source src="{{ movie.webm.480 }}" />
            </video>
        {% endfor %}
        </p>

        <h3>Developers</h3>
        <ul class="horizontalList">
        {% for dev in game_info.developers %}
            <li>{{ dev }}</li>
        {% endfor %}
        </ul>

        <h3>Publishers</h3>
        <ul class="horizontalList">
        {% for pub in game_info.publishers %}
            <li>{{ pub }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No game info yet.</p>
    {% endif %}

{% elif show_global_achievements %}
    {% if global_achievements %}
        <table class="SortTable">
            <thead>
                <tr>
                    <th class="SortTable-sortable">name</th>
                    <th class="SortTable-sortable" data-initial-sort="descending">percent</th>
                </tr>
            </thead>

            <tbody>
            {% for achievement in global_achievements %}
            <tr>
                <td data-value="{{ achievement.displayName.strip }}"><img src="{{ achievement.icon }}" /> {{ achievement.displayName }}</td>
                <td data-value="{{ achievement.percent }}">{{ achievement.percent|floatformat:"2" }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No global achievements yet.</p>
    {% endif %}

{% elif show_news %}
    {% if news %}
        <table class="SortTable">
            <thead>
                <tr>
                    <th class="SortTable-sortable">title</th>
                    <th>content</th>
                    <th class="SortTable-sortable">author</th>
                    <th class="SortTable-sortable" data-initial-sort="descending">date</th>
                </tr>
            </thead>

            <tbody>
            {% for new in news %}
            <tr>
                <td data-value="{{ new.title.strip }}"><a href="{{ new.url }}" target="_blank">{{ new.title }}</a></td>
                <td>{{ new.contents|safe }}</td>
                <td data-value="{{ new.author.strip }}">{{ new.author }}</td>
                <td data-value="{{ new.date }}">{{ new.date|convert_timestamp }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No news.</p>
    {% endif %}
{% endif %}


{% endblock %}