{% extends "base.html" %}
{% load steam_filters %}

{% block content %}

<p>News List</p>


<ul class="horizontalList">
    <li {% if show_recently_played %}class="entrySelected"{% endif %}>
        <a href="{% url 'home' %}">Recently Played</a>
    </li>
    <li {% if show_owned_apps %}class="entrySelected"{% endif %}>
        <a href="{% url 'home_specify' 'owned' %}">Owned</a>
    </li>
</ul>


{% if news %}
    <table>
        <tr>
            <th>game</th>
            <th>title</th>
            <th>content</th>
            <th>author</th>
            <th>date</th>
        </tr>
        {% for new in news %}
        <tr>
            <td><a href="{% url 'game' new.gameId %}" target="_blank"><img src="{{ new.gameIcon }}" title="{{ new.gameName }}" /></a></td>
            <td><a href="{{ new.url }}" target="_blank">{{ new.title }}</a></td>
            <td>{{ new.contents|safe }}</td>
            <td>{{ new.author }}</td>
            <td>{{ new.date|convert_timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No news.</p>
{% endif %}

{% endblock %}