{% extends "base.html" %}
{% load steam_filters %}

{% block content %}

<ul>
    <li>Name: {{ profile.personaname }}</li>
    <li>Avatar: <img src="{{ profile.avatar }}" /></li>
    <li>Created: {{ profile.timecreated|convert_timestamp }}</li>
    <li>Last log off: {{ profile.lastlogoff|convert_timestamp }}</li>
</ul>


<p><a href="{% url 'games_owned' steamId %}">games owned</a></p>

<h2>Recently Played Games</h2>

{% if recentlyPlayedGames %}
<table>
    <tr>
        <th>icon</th>
        <th>name</th>
        <th>playtime last 2 weeks</th>
        <th>playtime on record</th>
        <th>logo</th>
    </tr>
    {% for game in recentlyPlayedGames.games %}
    <tr>
        <td><img src="{{ game.img_icon_url }}" /></td>
        <td>{{ game.name }}</td>
        <td>{{ game.playtime_2weeks }}m</td>
        <td>{{ game.playtime_forever }}m</td>
        <td><img src="{{ game.img_logo_url }}" /></td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <p>No game played recently.</p>
{% endif %}

<h2>Friends</h2>

<ul>
{% for friend in friendsProfile %}
    <li>{{ friend.personaname }}</li>
{% endfor %}
</ul>


{% endblock %}